---
import BaseLayout from "../layouts/BaseLayout.astro";

const projects = [
  {
    title: "Brownian Crystallisation",
    category: "Physics",
    poster: "/images/crystallisation.png",
    video: "/images/crystallisation.mp4",
    link: "/projects/plasma"
  }
];
---

<BaseLayout title="Projects">
  <section class="projects-container">
    {projects.map(project => (
      <a href={project.link} class="project-card">
        <video
          class="project-video"
          src={project.video}
          poster={project.poster}
          muted
          loop
          playsinline
          preload="none"
        ></video>

        <h3 class="project-title">{project.title}</h3>
        <span class="project-category">{project.category}</span>
      </a>
    ))}
  </section>
</BaseLayout>

<script>
  document.querySelectorAll(".project-video").forEach(video => {
    video.addEventListener("mouseenter", () => {
      video.currentTime = 0;
      video.play();
    });

    video.addEventListener("mouseleave", () => {
      video.pause();
      video.currentTime = 0;
    });
  });
</script>
